{% load static %}
<head>
    <style>
        nav.fixed .logo-dark, .fixed nav .logo-dark {
    display: block;
    width: 100px;
    top: 10px;
}
    </style>
</head>
        <nav class="background-transparent background-dark-dott full-width sticky">
            <!-- mobile version logo -->
            <div class="logo hide-l hide-xl hide-xxl">
                <a href="index.html" class="logo">
                    <!-- Logo Dark Version -->
                    <img class="logo-dark" src="{% static 'images-2019/WDS_Logo_Black.png'%}" alt="">
                </a>
            </div>
            <div class="top-nav">

                <!-- left menu items -->
                <div class="top-nav left-menu">
                    <ul class="right top-ul chevron">
                        

                            <li>

                            <a href="{% url 'core:home' %}">Home</a>
                            {% comment  %}
                            <a href="{% url 'international:home' %}">Home</a>
                            {% endcomment %}
                        </li>
                        <li>
                        
                        <a href="{% url 'core:stocks' %}">&nbsp Stocks</a>
                        
                        </li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'core:news' %}">&nbsp News</a></li>
                        {% endif %}
                        
                        
                       
                    </ul>
                </div>

                <!-- logo -->
                <ul class="logo-menu">
                    
                <a href="{% url 'core:home' %}" class="logo">
                {% comment  %}
                <a href="{% url 'international:home' %}" class="logo"></a>
                {% endcomment %}
                        <!-- Logo White Version -->
                        <img class="logo-white" src="{% static 'images-2019/WDS_Logo_Black_3.png'%}" alt="">
                        <!-- Logo Dark Version -->
                        <img class="logo-dark" src="{% static 'images-2019/WDS_Logo_Black_3.png'%}" alt="">
                        
                    </a>
                </ul>
                
                <!-- right menu items -->
                <div class="top-nav right-menu">
                    <ul class="top-ul chevron">
                        
                        {% if user.is_authenticated %}
                        <li class="active-item">
                            
                            {% csrf_token %}
                            {% if user.is_staff %}
                            <a href="{% url 'admin:index' %}">&nbsp Admin </a>
                            {% endif %}
                        </li>
                        <li><a href="{% url 'core:dashboard' %}">&nbsp Dashboard</a></li>
                        <li><a href="{% url 'core:userlogout' %}">&nbsp Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'core:news' %}">&nbsp News</a></li>
                        <li><a href="{% url 'core:userlogin' %}">&nbsp Login</a></li>
                        {% endif %}
                        
                        
                                        
                    </ul>
                </div>
            </div>
        </nav>
        

