{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
  body {
        background-image: url("{% static 'images-2019/2.jpg' %}");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font: 16px/1.6 Arial, sans-serif;
      }
  .iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cont{
    width: 70%;
    height: 60%;
    
    margin: auto;
    background-color: azure;
}
h1 {
    font-size:4rem;
    color: white;
    font-weight: bold;
    margin-top: 15vh;
    margin-bottom: 0;
    z-index: 1 !important;
}
p{
    font-size:2.5rem;
    color: black;
    font-weight: bold;
    line-height: 1;
}
.container{
    text-align: center;
}
</style>



<body>

        <!-- Top Navigation -->
    {% include "navbar.html" %}
    </header>
    <div class="container">
    <h1>NEWS</h1>
    <div class="card">  
        <div class="card-body">
            <h4 class="card-text">Stock Market is not all about trading.How well you understand your surroundings will decide whether you gain or lose.So watch the NEWS carefully!</h4>
        </div>
    </div>
 
    <div class="cont">
        
        <div class="iframe-container">
            <iframe width="1000" height="500" src="https://www.youtube-nocookie.com/embed/57MhCvW9caw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% include "footer.html" %}
</body>



{%endblock%}
