{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
  body {
        background-image: url("{% static 'images-2019/bg-11.jpg' %}");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font: 16px/1.6 Arial, sans-serif;
      }
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  margin-bottom: 50px;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cont1{
    width: 70%;
    height: 60%;
    
    margin: auto;
    
}
h1 {
    font-size:4rem;
    color: #FF8C42;
    font-weight: bold;
    margin-top: 15vh;
    margin-bottom: 10px;
    padding:10px;
    z-index: 1 !important;
}

.bg{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    height:90vh;
   
    margin-bottom: 100px;
}
.bg p{
    color: white !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px !important;
    width:60%;
    margin:auto;
    font-size: 1.5rem;
    line-height: 1.1;
}
.card{
    background-color: #FCAF58 !important;
}

@media screen and (max-width:1120px) {
    h1{
    margin-top: 9vh;
}
.bg{
    height:75vh;
    margin-bottom: 80px;
}
.bg p{
    font-size: 1.5rem;
    width:80%;
}
.iframe-container{
    margin-bottom: 5px;
    height:60%;
    width:95%;
    
}
.cont{
    width:85%;
}
}
@media screen and (max-width:768px) {
    h1{
    margin-top: 4vh;
}
.bg{
    height:55vh;
    margin-bottom: 80px;
}
.bg p{
    font-size: 1.5rem;
    width:80%;
}
.iframe-container{
    margin-bottom: 5px;
    height:90%;
    width:100%;
    
}
.cont{
    width:90%;
}
}
@media screen and (max-width:480px) {
h1{
    margin-top: 8vh;
}
.bg{
    height:60vh;
    margin-bottom: 80px;
}
.bg p{
    font-size: 1rem;
    width:80%;
}
.iframe-container{
    margin-bottom: 5px;
    height:90%;
    width:100%;
    
}
.cont{
    width:90%;
}
}
</style>



<body>

        <!-- Top Navigation -->
    {% include "navbar.html" %}
    </header>
    <div class="container bg">
        <h1>NEWS</h1>
       
                <p class="card-text">Stock Market is not all about trading.How well you understand your surroundings will decide whether you gain or lose.So watch the NEWS carefully!</p>

    
        <div class="cont1">
            
            <div class="iframe-container">
                <iframe width="1200" height="700" src="https://www.youtube-nocookie.com/embed/57MhCvW9caw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
            </div>
        </div>
    </div>
{% include "footer.html" %}
</body>



{%endblock%}
