{% extends "base.html" %} {% load static %} {% block content %}
<style>
    * {
        box-sizing: border-box;
        padding: 0;
        
    }
    .news-video{
        width:60%;
        margin: auto;
    }

</style>
<body>
    <header role="banner" class="position-absolute">
        <!-- Top Navigation -->
    {% include "navbar.html" %}
    </header>
    {% include "nav-carousel.html" %}
    
<div class="news-video">
  <iframe
    width="1000px"
    height="500px"
    src="https://www.youtube.com/embed/tgbNymZ7vqY"
  >
  </iframe>
</div>
</body>

{% endblock %}
