{% extends "base.html" %}
{% block content %}
<html>
	
		
<body><h1>recieved requests</h1>
<table border="1">
if action=sell that means you are the buyer and if action = buy then you are the seller 
<tr><th>sender</th><th>type</th><th>stock</th><th>number of stocks</th><th>priceperstock</th><th>accept</th><th>delete</th></tr>
{% for req in requests %}
<tr><td>{{ req.sender }}</td>
<td>{{ req.action }} </td>
<td>{{ req.stock }} </td>
<td>{{ req.numberofstocks }}</td>
<td>{{ req.priceperstock }}</td>

<td><a href="{% url 'core:accept-request' req.id %}">accept</a></td>
<td><a href="{% url 'core:decline-request' req.id %}">decline</a></td>
{% comment  %}
<td><a href="{% url 'international:accept-request' req.id %}">accept</a></td>
<td><a href="{% url 'international:decline-request' req.id %}">decline</a></td>
{% endcomment %}
</tr>
{% endfor %}

</table>
<script type="text/javascript">
    function onFriendRequestAccepted(){
		location.reload();
	}

	function onFriendRequestDeclined(){
		location.reload();
	}

	function triggerAcceptFriendRequest(friend_request_id){
		acceptFriendRequest(friend_request_id, onFriendRequestAccepted)
	}

	function triggerDeclineFriendRequest(friend_request_id){
		declineFriendRequest(friend_request_id, onFriendRequestDeclined)
	}
    
	
</script>
</body></html>
{% endblock %}