{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block usrlgn %}

<style>
  @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
*{
	padding:0;
	margin:0;
}

body{
    background-image: url("{% static 'images-2019/bg-3.jpg' %}");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
    font:16px/1.6 Arial,  sans-serif;
}

.background-transparent {
    background: none;
    border: none;
    box-shadow: none;
}

.top-nav ul li a{
    color: #fff;
    font-size: 1rem;
}

</style>









<body>
      <!--    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="Username">username</label>
                <input type="text" class="form-control"  placeholder="Enter user name" name="username">
              </div>
              <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div>
              <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
              </div>
        </form>
    </div>

  -->
    <!-- HEADER -->
    <header role="banner" class="position-absolute">
  {% include "navbar.html" %}

    </header>
  <section>

    <div class="container-fluid col-xl-5" style="padding:7px; ">

      <div class="row main-form">

          <div class="form-heading">
              <h2>Log In to WDS</h2>
          </div>
          
          <form class="col s12" method="POST">
            {% csrf_token %}
          <div class="row">
              <div class="input-field col s12 form-field">
                  <input  id="first_name" type="text" class="validate form-field"  name="username">
                  <label for="Username">User Name</label>
              </div>
          </div>


          <div class="row">
              <div class="input-field col s12 form-field">
                  <input id="password" type="password" class="validate form-field" name="password">
                  <label for="Password">Password</label>
              </div>
          </div>
          
                          
          <button class="btn waves-effect waves-light form-field" type="submit" name="action">Login
              <i class="material-icons right"></i>
          </button>
          </form>
      </div>
    </div>
  </section>
  {% include "footer.html" %}
</body>
{% endblock usrlgn %}
