{% load static %}
        <nav class="background-transparent background-dark-dott full-width sticky">
            <!-- mobile version logo -->
            <div class="logo hide-l hide-xl hide-xxl">
                <a href="index.html" class="logo">
                    <!-- Logo Dark Version -->
                    <img class="logo-dark" src="{% static 'images-2019/WDS_Logo_Black.png'%}" alt="">
                </a>
            </div>
            <div class="top-nav">

                <!-- left menu items -->
                <div class="top-nav left-menu">
                    <ul class="right top-ul chevron">
                        
                            <li>
                           
                            <a href="{% url 'international:home' %}">Home</a>
                            
                        </li>
                        <li>
                      
                        <a href="{% url 'international:stocks' %}">&nbsp Stocks</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'international:news' %}">&nbsp News</a></li>
                        {% endif %}
                    </ul>
                </div>

                <!-- logo -->
                <ul class="logo-menu">
                    
                
                <a href="{% url 'international:home' %}" class="logo"></a>
              
                        <!-- Logo White Version -->
                        <img class="logo-white" src="{% static 'images-2019/WDS_Logo_Black.png'%}" alt="">
                        <!-- Logo Dark Version -->
                        <img class="logo-dark" src="{% static 'images-2019/WDS_Logo_Black.png'%}" alt="">
                        
                    </a>
                </ul>
                
                <!-- right menu items -->
                <div class="top-nav right-menu">
                    <ul class="top-ul chevron">
                        
                   
                        {% if user.is_authenticated %}
                        <li class="active-item">
                            
                            {% csrf_token %}
                            {% if user.is_staff %}
                            <a href="{% url 'admin:index' %}">&nbsp Admin </a>
                            {% endif %}
                        </li>
                        <li><a href="{% url 'international:dashboard' %}">&nbsp Dashboard</a></li>
                        <li><a href="{% url 'international:userlogout' %}">&nbsp Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'international:news' %}">&nbsp News</a></li>
                        <li><a href="{% url 'international:userlogin' %}">&nbsp Login</a></li>
                        {% endif %}
                       
                        
                                        
                    </ul>
                </div>
            </div>
        </nav>
        

