{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>
        Trading closed
    </title>
</head>
<style>
body {
    background-image: url("{% static 'images-2019/bg-5.jpg' %}");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font: 16px/1.6 Arial, sans-serif;
    }
h1 {
    font-size:4rem;
    color: white;
    font-weight: bold;
    margin-top: 15vh;
    margin-bottom: 0;
    z-index: 1 !important;
}

.container{
    position:absolute;
    top: 200px;
    left: 600px;
}
</style>
    <body>
        <div class="container">
            <h1>Trading is closed for now!</h1>
        </div>


    </body>
</html>